<section class="py-5">
  <h1 class="display-3">
    Thank You for Donating
  </h1>
  <p class="lead">“Happiness doesn’t result from what we get, but from what we give.”</p>
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>